@using TechStoreGen2.Models

@model Product
@{
    ViewBag.Title = "Edit Product";
    Layout = "_AdminLayout";
}
<form asp-actioп="Create" asp-controller="Product" method="POST">
    <input type="hidden" asp-for="ProductID" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
<textarea asp-for="Description" class="form-control"></textarea>
<div><span asp-validation-for="Description" class="text-danger"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <div><span asp-validation-for="Category" class="text-danger"></span></div>
        <input asp-for="Category" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control"/>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-primary">
            Cancel
        </a>
    </div>
</form>