<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
</head>
<body class="m-1 р-1">
    <div class="bg-info p-2"><h4>@ViewBag.Title</h4></div>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js">
    </script>
    <script src="/liЬ/jquery-validation-unobtrusive/jquery.validate.unoЬtrusive.min.js">
    </script>
    <div class="bg-info р-2 row">
        <div class="col-2">
            <a asp-controller="Users" asp-action="Index" class="btn btn-primary">Users</a>
            <a asp-controller="Roles" asp-action="Index" class="btn btn-primary">Roles</a>
            <a asp-controller="Order" asp-action="List" class="btn btn-primary">Orders</a>
            <a asp-controller="Roles" asp-action="UserList" class="btn btn-primary">Roles for users</a>
            <a class="btn btn-primary" asp-action="Login" asp-controller="Account">Log Out</a>
        </div>
    </div>

    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @RenderBody()
</body>
</html>