﻿@model IEnumerable<TechStoreGen2.Models.User>

@{
    ViewBag.Title = "List of users";
    Layout = "_AdminLayout";
}
<h2>List of Users</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
            </td>
        </tr>
    }
</table>
<a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Back</a>
