﻿ 
@model TechStoreGen2.ViewModels.LoginViewModel

<h2>Sign in to TechStore</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>

    <a method="get" asp-controller="Account" asp-action="Register" > New user? Sign up here!</a>
    <div>
        <input type="submit" class="btn btn-primary" value="Sign in" />
    </div>
</form>