﻿@using TechStoreGen2.Models

@model Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="checkoutForm">
    <h2 class="headerCheckout">Check out now!</h2>
    <p>Please enter your details, and we'll ship your goods rights away!</p>
    <div asp-validation-summary="All" class="text-danget"></div>
    <form asp-action="Checkout" method="post" class="someClass">
            <h3 class="headerCheckout"> Ship to </h3>
            <div class="form-group">
                <label>Name:</label><input asp-for="Name" class="form-group" />
            </div>

            <h3 class="headerCheckout"> Address </h3>
            <div class="form-group">
                <label>Line 1:</label><input asp-for="Line1" class="form-group" />
            </div>
            <div class="form-group">
                <label>Line 2:</label><input asp-for="Line2" class="form-group" />
            </div>
            <div class="form-group">
                <label>City:</label><input asp-for="City" class="form-group" />
            </div>
            <div class="form-group">
                <label>State:</label><input asp-for="State" class="form-group" />
            </div>
            <div class="form-group">
                <label>Zip:</label><input asp-for="Zip" class="form-group" />
            </div>
            <div class="form-group">
                <label>Country:</label><input asp-for="Country" class="form-group" />
            </div>
        <h3 class="headerCheckout">Options</h3>
        <div class="checkbox">
            <label>
                Gift wrap these items
            </label>
            <input asp-for="GiftWrap" />
        </div>
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Complete Order" id="giftButton"/>
        </div>
    </form>
</div>